.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lumanosimo-regular {
    font-family: "Lumanosimo", cursive;
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary-color: #FCE77D;
    /* Jasmin */
    --secundary-color: #A7DAF5;
    /* Uranian blue */
    --accent1-color: #F29D34;
    /* Carrot orange */
    --accent2-color: #475254;
    /* Outer space */
    --heading-font: "Fugaz One", fugaz-one;
    --body-font: "Lumanosimo", lumanosimo;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #ffff;
}

article {
    position: absolute;
    top: 60px;
    width: 100%;
    opacity: 0.75;
    text-align: center;
    margin-top: 35px;
    margin-left: 0;
    background-color: var(--secundary-color);
    color: #ffff;
}

article p {
    color: #ffff;
    opacity: 1;
    text-align: center;

}

.hero article img {
    opacity: 100;
    float: right;
    width: 125px;
}